.main_orgImg{
    width: 1138px;
    height: 753px;
    margin: 65px auto;
    display: block;
}
.main_aboutSection{
    position: relative;
}
.main_aboutSection_title{
    position:absolute;
    color: white;
    top: 70%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin-bottom: 47px;
}
.main_aboutSection_title h1{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 47px;
}
.main_aboutSection_title p{
    width: 775px;
    font-size: 15px;
    font-weight: 450;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: 30px;
}
.main_missionSection{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin: 58px auto;
}
.main_missionSection_title h2{
    margin-left: 10%;
    font-size: 40px;
    color: #333333;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin-bottom: 65px;
}
.main_missionSection_description{
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.main_missionSection_description_image{
    width: 593px;
    height: 593px;
    border-radius: 20px;
}
.main_missionSection_description_text{
    background-color: #53D042;
    color: white;
    height: 593px;
    width: 580px;
    border-radius: 20px;
    font-size: 25px;
}
.main_missionSection_description_text p{
    margin: 29px;
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
}
.main_vision{
    margin: 80px 0 80px 0;
}
.main_vision h2{
    font-size: 40px;
    color: #333333;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin-top: 64px;
    margin-left: 10%;
}
.main_vision p{
    width: 1181px;
    font-size: 25px;
    font-weight: 600;
}
.main_vision_image{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 51px 0;
}
.main_vision_description{
    background-color: #F68181;
    display: flex;
    justify-content: center;
    width: 1223px;
    border-radius: 20px;
    margin: 0 auto;
    padding: 36px 32px;
}
.main_vision_description p{
    color: white;
    font-size: 20px;
    font-weight: 450;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: 32px;
}
.main_reasons h2{
    font-size: 40px;
    color: #333333;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin-left: 10%;
    margin-bottom: 55px;
}
.main_socialMedia{
    margin-left: 10%;
    margin-top: 80px;
}
.main_socialMedia h2{
    font-size: 40px;
    color: #333333;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
.main_socialMedia_desc{
    display: flex;
    gap: 20px;
    margin: 50px 0;
}
.main_socialMedia_desc img{
    width: 66px;
    height: 66px;
}
.main_socialMedia_desc p{
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}