.answerBtn{
    height: 40px;
    width: 100px;
    background-color: #5167C3;
    color: white;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 17px;
    box-shadow: none;
}
.option{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.question{
    margin: 40px 0 !important;
    width: 100%;
}
.title{
    font-size: 20px !important;
    line-height: 40px !important;
    font-family: "Roboto", sans-serif !important;
    font-style: normal !important;
    color: black !important;

}
.writtenRes{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Roboto", sans-serif !important;
    font-style: normal !important;
    font-size: 20px;
    margin-bottom: 30px;
}